body {
  background-color: #ffffff;
}

.container {
  /* margin: 20px auto; */
  background-color: #b96033;
  display: flex;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-around;
  flex-direction: column;
  height: 400px;
  width: 200px;
  border: 1px solid black;
}

.child-1 {
  box-shadow: 3px 2px 5px black;
  margin: 20px 20px 0px 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.child-2 {
  display: flex;
  justify-content: end;
  margin-right: 10%;
  gap: 3px;
}

.ball {
  background-color: yellow;
  border: 1px solid red;
  border-radius: 50%;
  padding: 10px;
}

.ball-b {
  background-color: rgb(94, 9, 97);
  border-radius: 50%;
  padding: 10px;
}

.main {
  /* width: 100%;
    height: auto;
    display: block; */
  background-color: white;
  border: 5px solid #474647;
  display: flex;
  flex: 1;
  margin: 0px 15px;
  padding: 15px;
}

.child-3 {
  background-color: #e8ceb5;
  padding: 5px;
  border: 2px solid black;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.foo1 {
  padding: 10%;
}
.foo2 {
  border-top: 1px solid black;
  padding: 4%;
}
